<!DOCTYPE html>


<head>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:700|Open+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{site.title}}</title>
  
  
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/bootstrap.css">  
</head>
<body>

  <div class="row" style="border: 1px solid #DDD; margin: 20px; padding: 20px">
    <div class="col-md-12">
      <h2><a href="{{site.baseurl}}/">{{site.title}}</a></h2>
      <p>{{site.description}}</p>
      <hr />
    </div>
  

    {{content}}  
 
  <!-- Initialize JS Plugins -->  
</div>
</body>
</html>